*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    font-family:cursive;
    font-size:1.2rem;

}

.container{
    min-height:100vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
    background: linear-gradient(to right, rgb(3, 34, 47));
}

.left{
    flex-basis: 30%;
}

.right{
    flex-basis: 50%;
    display:grid;
    gap:8px 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
}

.left h2{
    color: white;
    font-size:  3rem;
    text-align: center;
}

.left p{
    color: #ddd;
    margin-top: 10px;
    text-align: center;
}

.child-imgs{
    background-size: cover;
    background-position:top ;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #222;
    background-blend-mode:hard-light;
    transition: all 1s ease-in-out;

}

.row-2{
    grid-row:span 2;
}

.col-2{
    grid-column: span 2;
}

.child-imgs:hover{
    background-color: #999;
    background-position: center;
    cursor: pointer;
    
}
